# Google Sheets Configuration
GOOGLE_SHEETS_CREDENTIALS_FILE=path/to/your/credentials.json
GOOGLE_SHEET_ID=11yS0tY9DIiee6t2rV-AjKCg5M3W_sbyk7eFctwG7bzU

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000
DEBUG=True
